---
---

<nav>
	<img id="icon" src="/Logo_Blanco 1.png" alt="" />
	<ul>
		<a href="/astro-katana/studio">studio</a>
		<a href="/astro-katana/nosotros">nosotros</a>
		<a href="/astro-katana/tienda">tienda</a>
	</ul>
</nav>

<script>
	const handleClick = () => {
		window.location.replace("/");
	};
	const img = document.getElementById("icon");
	img.addEventListener("click", handleClick);
</script>
