---
const { img, title, href } = Astro.props;
---

<section class="section-title">
	<img src={img} alt="imagen" transition:name="imagen-nosotros"/>
	<div>
		<a href={href}>
			{title}
		</a>
	</div>
</section>
